<section class="section-about">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <strong class="section-subtitle">QUIENES SOMOS</strong>
        <h2 class="section-title section-about-title">We Are The Leader In The Architectural</h2>
        <p>For each project we establish relationships with partners who we know will help us create added value for your project. As well as bringing together the public and private sectors, we make sector-overarching links to gather knowledge and
          to learn from each other</p>
        <div class="experience-box">
          <div class="experience-border"></div>
          <div class="experience-content">
            <div class="experience-number">26</div>
            <div class="experience-info wow fadeInDown">Years<br>Experience<br>Working</div>
          </div>
        </div>
      </div>
      <div class="col-md-5 col-md-offset-1">
        <div class="dots-image">
          <img alt="" class="about-img img-responsive" src="assets/images/about2.png">
          <div class="dots"></div>
        </div>
      </div>
    </div>
  </div>
</section>
