<section class="section-news section">
  <div class="container">
    <h2 class="section-title">la vida es bonita Últimos Artículos <a href="/blog-detail.html" class="link-arrow-2 pull-right">All Articles <i class="icon ion-ios-arrow-right"></i></a></h2>
    <div class="news-carousel owl-carousel">

      <div class="news-item">
        <img alt="" src="assets/images/news/1-370x370.jpg">
        <div class="news-hover">
          <div class="hover-border">
            <div></div>
          </div>
          <div class="content">
            <div class="time">Mayo 25, 2018</div>
            <h3 class="news-title">Discover Architecture Of Bario</h3>
            <p class="news-description">Lorem ipsum dolor sit amet, consect etur adipiscing elit. Mauris vel auctorol est. Integer nunc ipsum...</p>
          </div>
          <a class="read-more" href="/blog-detail.html">Leer más</a>
        </div>
      </div>

      <div class="news-item">
        <img alt="" src="assets/images/news/1-370x370.jpg">
        <div class="news-hover">
          <div class="hover-border">
            <div></div>
          </div>
          <div class="content">
            <div class="time">Mayo 25, 2018</div>
            <h3 class="news-title">Discover Architecture Of Bario</h3>
            <p class="news-description">Lorem ipsum dolor sit amet, consect etur adipiscing elit. Mauris vel auctorol est. Integer nunc ipsum...</p>
          </div>
          <a class="read-more" href="/blog-detail.html">Leer más</a>
        </div>
      </div>

      <div class="news-item">
        <img alt="" src="assets/images/news/1-370x370.jpg">
        <div class="news-hover">
          <div class="hover-border">
            <div></div>
          </div>
          <div class="content">
            <div class="time">Mayo 25, 2018</div>
            <h3 class="news-title">Discover Architecture Of Bario</h3>
            <p class="news-description">Lorem ipsum dolor sit amet, consect etur adipiscing elit. Mauris vel auctorol est. Integer nunc ipsum...</p>
          </div>
          <a class="read-more" href="/blog-detail.html">Leer más</a>
        </div>
      </div>

    </div>
  </div>
</section>
