---
layout: default
---

<div class="content">
  <div class="project-detail">
    <div class="slider-prev icon-chevron-left hidden-xs"></div>
    <div class="slider-next icon-chevron-right hidden-xs"></div>

    <div class="rev_slider_wrapper">
      <div id="rev_slider2" class="rev_slider tp-overflow-hidden fullscreenbanner">
        <ul>

        <!-- Slide 1 -->

        <li  data-transition="slideleft" data-masterspeed="1200" data-fsmasterspeed="1200">

          <!-- Main image-->

          <img src="{{ page.image1 }}" alt="" data-bgposition="center center" data-bgfit="contain" data-bgrepeat="no-repeat" class="rev-slidebg">

          <!-- Layer 1 -->

          <div class="tp-caption tp-shape tp-shapewrapper "
            data-x="['left']" data-hoffset="['0']"
            data-y="['top']" data-voffset="['50','50','40','40']"
            data-width="528"
            data-minwidth="528"
            data-whitespace="normal"
            data-type="shape"
            data-responsive_offset="on"
            data-frames='[{"from":"opacity:0;z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":1500,"to":"o:1;","delay":0,"ease":"Power3.easeInOut"},{"delay":"wait","speed":400,"to":"opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]">
              <div class="project-detail-info">
                <div class="project-detail-control"><span class="hide-info">Ocultar información</span><span class="show-info">Mostrar información</span></div>
                <div class="project-detail-content">
                <h3 class="project-detail-title">{{ page.title-line1 }}&nbsp;{{ page.title-line2 }}&nbsp;{{ page.title-line3 }}</h3>
                <p class="project-detail-text">{{ page.description }}</p>
                <ul class="project-detail-list text-dark">
                  <li>
                    <span class="left">Cliente:</span>
                    <span class="right">{{ page.client }}</span>
                  </li>
                  <li>
                    <span class="left">Fecha:</span>
                    <span class="right">{{ page.project-date }}</span>
                  </li>
                  <li>
                    <span class="left">Tipo:</span>
                    <span class="right">{{ page.type }}</span>
                  </li>
                  <li>
                    <span class="left">Diseño:</span>
                    <span class="right">{{ page.designer }}</span>
                  </li>
                </ul>
              <!--  <div class="project-detail-meta">
                  <span class="left text-dark hidden-xs pull-sm-left">Share:</span>
                  <div class="social-list pull-sm-right">
                    <a href="{{ site.url }}#" class="icon ion-social-twitter"></a>
                    <a href="{{ site.url }}#" class="icon ion-social-facebook"></a>
                    <a href="{{ site.url }}#" class="icon ion-social-googleplus"></a>
                    <a href="{{ site.url }}#" class="icon ion-social-linkedin"></a>
                    <a href="{{ site.url }}#" class="icon ion-social-dribbble-outline"></a>
                  </div>
                </div>-->
                </div>
              </div>
            </div>
          </li>

          <!-- Slide 2 -->

          <li  data-transition="slideleft" data-masterspeed="1200" data-fsmasterspeed="1200">

          <!-- Main image-->

          <img src="{{ page.image2 }}" alt="" data-bgposition="center center" data-bgfit="contain" data-bgrepeat="no-repeat" class="rev-slidebg">

          <!-- Layer 1 -->

          <div class="tp-caption tp-shape tp-shapewrapper "
            data-x="['left']" data-hoffset="['0']"
            data-y="['top']" data-voffset="['50','50','40','40']"
            data-width="528"
            data-minwidth="528"
            data-whitespace="normal"
            data-type="shape"
            data-responsive_offset="on"
            data-frames='[{"from":"opacity:0;z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":1500,"to":"o:1;","delay":0,"ease":"Power3.easeInOut"},{"delay":"wait","speed":400,"to":"opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]">
              <div class="project-detail-info">
                <div class="project-detail-control"><span class="hide-info">hide information</span><span class="show-info">show information</span></div>
                <div class="project-detail-content">
                  <h3 class="project-detail-title">{{ page.title-line1 }}&nbsp;{{ page.title-line2 }}&nbsp;{{ page.title-line3 }}</h3>
                  <p class="project-detail-text">{{ page.description }}</p>
                  <ul class="project-detail-list text-dark">
                    <li>
                      <span class="left">Cliente:</span>
                      <span class="right">{{ page.client }}</span>
                    </li>
                    <li>
                      <span class="left">Fecha:</span>
                      <span class="right">{{ page.project-date }}</span>
                    </li>
                    <li>
                      <span class="left">Tipo:</span>
                      <span class="right">{{ page.type }}</span>
                    </li>
                    <li>
                      <span class="left">Diseño:</span>
                      <span class="right">{{ page.designer }}</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>

          <!-- Slide 3 -->

          <li  data-transition="slideleft" data-masterspeed="1200" data-fsmasterspeed="1200">

          <!-- Main image-->

          <img src="{{ page.image3 }}" alt="" data-bgposition="center center" data-bgfit="contain" data-bgrepeat="no-repeat" class="rev-slidebg">

          <!-- Layer 1 -->

          <div class="tp-caption tp-shape tp-shapewrapper "
            data-x="['left']" data-hoffset="['0']"
            data-y="['top']" data-voffset="['50','50','40','40']"
            data-width="528"
            data-minwidth="528"
            data-whitespace="normal"
            data-type="shape"
            data-responsive_offset="on"
            data-frames='[{"from":"opacity:0;z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":1500,"to":"o:1;","delay":0,"ease":"Power3.easeInOut"},{"delay":"wait","speed":400,"to":"opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]">
              <div class="project-detail-info">
                <div class="project-detail-control"><span class="hide-info">hide information</span><span class="show-info">show information</span></div>
                <div class="project-detail-content">
                  <h3 class="project-detail-title">{{ page.title-line1 }}&nbsp;{{ page.title-line2 }}&nbsp;{{ page.title-line3 }}</h3>
                  <p class="project-detail-text">{{ page.description }}</p>
                  <ul class="project-detail-list text-dark">
                    <li>
                      <span class="left">Cliente:</span>
                      <span class="right">{{ page.client }}</span>
                    </li>
                    <li>
                      <span class="left">Fecha:</span>
                      <span class="right">{{ page.project-date }}</span>
                    </li>
                    <li>
                      <span class="left">Tipo:</span>
                      <span class="right">{{ page.type }}</span>
                    </li>
                    <li>
                      <span class="left">Diseño:</span>
                      <span class="right">{{ page.designer }}</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
